In [1]:
import pandas as pd
import os

In [47]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [3]:
transac = pd.read_csv('/content/drive/MyDrive/diggibyte/spark_1/transaction.csv')
user = pd.read_csv('/content/drive/MyDrive/diggibyte/spark_1/user.csv')

In [4]:
transac

   transaction_id  product_id  userid  price product_description
0         3300101     1000001     101    700               mouse
1         3300102     1000002     102    900            keyboard
2         3300103     1000003     103  34000                  tv
3         3300104     1000004     101  35000              fridge
4         3300105     1000005     105  55000                sofa
5         3300106     1000006     106    100                 bed
6         3300107     1000007     105  66000              laptop
7         3300108     1000008     108  20000               phone
8         3300109     1000009     101    500             speaker
9         3300110     1000010     102   1000               chair

In [12]:
col = {'userid' : 'user_id'}

In [13]:
transac.rename(columns = col, inplace=True)

In [5]:
user

   user_id               emailid nativelanguage location
0      101     abc.123@gmail.com          hindi    mumbai
1      102        jhon@gmail.com        english       usa
2      103    madan.44@gmail.com        marathi    nagpur
3      104  local.88@outlook.com          tamil   chennai
4      105    sahil.55@gmail.com        english       usa
5      106         adi@gmail.com          hindi    nagpur
6      107       jason@gmail.com        marathi    mumbai
7      108       sohan@gmail.com         kannad       usa
8      109      case@outlook.com          tamil    mumbai
9      110        fury@gmail.com          hindi    nagpur

In [14]:
transac

   transaction_id  product_id  user_id  price product_description
0         3300101     1000001      101    700               mouse
1         3300102     1000002      102    900            keyboard
2         3300103     1000003      103  34000                  tv
3         3300104     1000004      101  35000              fridge
4         3300105     1000005      105  55000                sofa
5         3300106     1000006      106    100                 bed
6         3300107     1000007      105  66000              laptop
7         3300108     1000008      108  20000               phone
8         3300109     1000009      101    500             speaker
9         3300110     1000010      102   1000               chair

In [15]:
transac

   transaction_id  product_id  user_id  price product_description
0         3300101     1000001      101    700               mouse
1         3300102     1000002      102    900            keyboard
2         3300103     1000003      103  34000                  tv
3         3300104     1000004      101  35000              fridge
4         3300105     1000005      105  55000                sofa
5         3300106     1000006      106    100                 bed
6         3300107     1000007      105  66000              laptop
7         3300108     1000008      108  20000               phone
8         3300109     1000009      101    500             speaker
9         3300110     1000010      102   1000               chair

In [16]:
user

   user_id               emailid nativelanguage location
0      101     abc.123@gmail.com          hindi    mumbai
1      102        jhon@gmail.com        english       usa
2      103    madan.44@gmail.com        marathi    nagpur
3      104  local.88@outlook.com          tamil   chennai
4      105    sahil.55@gmail.com        english       usa
5      106         adi@gmail.com          hindi    nagpur
6      107       jason@gmail.com        marathi    mumbai
7      108       sohan@gmail.com         kannad       usa
8      109      case@outlook.com          tamil    mumbai
9      110        fury@gmail.com          hindi    nagpur

In [24]:
outer = pd.merge(transac, user, on='user_id', how='outer')

In [23]:
pd.merge(transac, user, on='user_id', how='inner')

,transaction_id,product_id,user_id,price,product_description,emailid,nativelanguage,location
0,3300101,1000001,101,700,mouse,abc.123@gmail.com,hindi,mumbai
1,3300104,1000004,101,35000,fridge,abc.123@gmail.com,hindi,mumbai
2,3300109,1000009,101,500,speaker,abc.123@gmail.com,hindi,mumbai
3,3300102,1000002,102,900,keyboard,jhon@gmail.com,english,usa
4,3300110,1000010,102,1000,chair,jhon@gmail.com,english,usa
5,3300103,1000003,103,34000,tv,madan.44@gmail.com,marathi,nagpur
6,3300105,1000005,105,55000,sofa,sahil.55@gmail.com,english,usa
7,3300107,1000007,105,66000,laptop,sahil.55@gmail.com,english,usa
8,3300106,1000006,106,100,bed,adi@gmail.com,hindi,nagpur
9,3300108,1000008,108,20000,phone,sohan@gmail.com,kannad,usa

In [31]:
outer = pd.DataFrame(outer)

In [34]:
outer.columns

Index(['transaction_id', 'product_id', 'user_id', 'price',
       'product_description', 'emailid', 'nativelanguage', 'location '],
      dtype='object')

In [36]:
df.csv('other_.csv')

0      mumbai
1      mumbai
2      mumbai
3         usa
4         usa
5      nagpur
6         usa
7         usa
8      nagpur
9         usa
10    chennai
11     mumbai
12     mumbai
13     nagpur
Name: location , dtype: object

In [39]:
outer.to_csv('outer_join.csv')

In [49]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Python Spark SQL basic example").config("spark.some.config.option", "some-value").getOrCreate()

In [53]:
df = spark.read.csv('outer_join.csv')

In [54]:
df.show()

In [62]:
final = spark.read.option('inferSchema' , True).option('header', True).csv('outer_join.csv')

In [63]:
final.show()

+---+--------------+----------+-------+-------+-------------------+--------------------+--------------+---------+
|_c0|transaction_id|product_id|user_id|  price|product_description|             emailid|nativelanguage|location |
+---+--------------+----------+-------+-------+-------------------+--------------------+--------------+---------+
|  0|     3300101.0| 1000001.0|    101|  700.0|              mouse|   abc.123@gmail.com|         hindi|   mumbai|
|  1|     3300104.0| 1000004.0|    101|35000.0|             fridge|   abc.123@gmail.com|         hindi|   mumbai|
|  2|     3300109.0| 1000009.0|    101|  500.0|            speaker|   abc.123@gmail.com|         hindi|   mumbai|
|  3|     3300102.0| 1000002.0|    102|  900.0|           keyboard|      jhon@gmail.com|       english|      usa|
|  4|     3300110.0| 1000010.0|    102| 1000.0|              chair|      jhon@gmail.com|       english|      usa|
|  5|     3300103.0| 1000003.0|    103|34000.0|                 tv|  madan.44@gmail.com|       marathi|   nagpur|
|  6|     3300105.0| 1000005.0|    105|55000.0|               sofa|  sahil.55@gmail.com|       english|      usa|
|  7|     3300107.0| 1000007.0|    105|66000.0|             laptop|  sahil.55@gmail.com|       english|      usa|
|  8|     3300106.0| 1000006.0|    106|  100.0|                bed|       adi@gmail.com|         hindi|   nagpur|
|  9|     3300108.0| 1000008.0|    108|20000.0|              phone|     sohan@gmail.com|        kannad|      usa|
| 10|          null|      null|    104|   null|               null|local.88@outlook.com|         tamil|  chennai|
| 11|          null|      null|    107|   null|               null|     jason@gmail.com|       marathi|   mumbai|
| 12|          null|      null|    109|   null|               null|    case@outlook.com|         tamil|   mumbai|
| 13|          null|      null|    110|   null|               null|      fury@gmail.com|         hindi|   nagpur|
+---+--------------+----------+-------+-------+-------------------+--------------------+--------------+---------+

In [64]:
final.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- transaction_id: double (nullable = true)
 |-- product_id: double (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- price: double (nullable = true)
 |-- product_description: string (nullable = true)
 |-- emailid: string (nullable = true)
 |-- nativelanguage: string (nullable = true)
 |-- location : string (nullable = true)

In [67]:
final

DataFrame[_c0: int, transaction_id: double, product_id: double, user_id: int, price: double, product_description: string, emailid: string, nativelanguage: string, location : string]

In [68]:
final.select('location ')

DataFrame[location : string]

In [71]:
final.groupby('location ').count().show()

DataFrame[location : string, count: bigint]

In [76]:
final = spark.read.csv('outer_join.csv' , inferSchema=True, header=True)

In [77]:
final

DataFrame[_c0: int, transaction_id: double, product_id: double, user_id: int, price: double, product_description: string, emailid: string, nativelanguage: string, location : string]

In [78]:
final.columns

['_c0',
 'transaction_id',
 'product_id',
 'user_id',
 'price',
 'product_description',
 'emailid',
 'nativelanguage',
 'location ']

In [79]:
final.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- transaction_id: double (nullable = true)
 |-- product_id: double (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- price: double (nullable = true)
 |-- product_description: string (nullable = true)
 |-- emailid: string (nullable = true)
 |-- nativelanguage: string (nullable = true)
 |-- location : string (nullable = true)

In [80]:
for i in final.head(5):
  print(i, '\n')

Row(_c0=0, transaction_id=3300101.0, product_id=1000001.0, user_id=101, price=700.0, product_description='mouse', emailid='abc.123@gmail.com', nativelanguage='hindi', location ='mumbai')

Row(_c0=1, transaction_id=3300104.0, product_id=1000004.0, user_id=101, price=35000.0, product_description='fridge', emailid='abc.123@gmail.com', nativelanguage='hindi', location ='mumbai')

Row(_c0=2, transaction_id=3300109.0, product_id=1000009.0, user_id=101, price=500.0, product_description='speaker', emailid='abc.123@gmail.com', nativelanguage='hindi', location ='mumbai')

Row(_c0=3, transaction_id=3300102.0, product_id=1000002.0, user_id=102, price=900.0, product_description='keyboard', emailid='jhon@gmail.com', nativelanguage='english', location ='usa')

Row(_c0=4, transaction_id=3300110.0, product_id=1000010.0, user_id=102, price=1000.0, product_description='chair', emailid='jhon@gmail.com', nativelanguage='english', location ='usa')

In [82]:
final.show()

+---+--------------+----------+-------+-------+-------------------+--------------------+--------------+---------+
|_c0|transaction_id|product_id|user_id|  price|product_description|             emailid|nativelanguage|location |
+---+--------------+----------+-------+-------+-------------------+--------------------+--------------+---------+
|  0|     3300101.0| 1000001.0|    101|  700.0|              mouse|   abc.123@gmail.com|         hindi|   mumbai|
|  1|     3300104.0| 1000004.0|    101|35000.0|             fridge|   abc.123@gmail.com|         hindi|   mumbai|
|  2|     3300109.0| 1000009.0|    101|  500.0|            speaker|   abc.123@gmail.com|         hindi|   mumbai|
|  3|     3300102.0| 1000002.0|    102|  900.0|           keyboard|      jhon@gmail.com|       english|      usa|
|  4|     3300110.0| 1000010.0|    102| 1000.0|              chair|      jhon@gmail.com|       english|      usa|
|  5|     3300103.0| 1000003.0|    103|34000.0|                 tv|  madan.44@gmail.com|       marathi|   nagpur|
|  6|     3300105.0| 1000005.0|    105|55000.0|               sofa|  sahil.55@gmail.com|       english|      usa|
|  7|     3300107.0| 1000007.0|    105|66000.0|             laptop|  sahil.55@gmail.com|       english|      usa|
|  8|     3300106.0| 1000006.0|    106|  100.0|                bed|       adi@gmail.com|         hindi|   nagpur|
|  9|     3300108.0| 1000008.0|    108|20000.0|              phone|     sohan@gmail.com|        kannad|      usa|
| 10|          null|      null|    104|   null|               null|local.88@outlook.com|         tamil|  chennai|
| 11|          null|      null|    107|   null|               null|     jason@gmail.com|       marathi|   mumbai|
| 12|          null|      null|    109|   null|               null|    case@outlook.com|         tamil|   mumbai|
| 13|          null|      null|    110|   null|               null|      fury@gmail.com|         hindi|   nagpur|
+---+--------------+----------+-------+-------+-------------------+--------------------+--------------+---------+

In [85]:
final.groupby('location ').count().show()

+---------+-----+
|location |count|
+---------+-----+
|  chennai|    1|
|   nagpur|    3|
|   mumbai|    5|
|      usa|    5|
+---------+-----+

In [86]:
final.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- transaction_id: double (nullable = true)
 |-- product_id: double (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- price: double (nullable = true)
 |-- product_description: string (nullable = true)
 |-- emailid: string (nullable = true)
 |-- nativelanguage: string (nullable = true)
 |-- location : string (nullable = true)

In [93]:
final.select('product_description').show()

+-------------------+
|product_description|
+-------------------+
|              mouse|
|             fridge|
|            speaker|
|           keyboard|
|              chair|
|                 tv|
|               sofa|
|             laptop|
|                bed|
|              phone|
|               null|
|               null|
|               null|
|               null|
+-------------------+

In [94]:
final.select('price')

DataFrame[price: double]

In [105]:
final.groupBy("user_id", "product_description").avg('price').show()

+-------+-------------------+----------+
|user_id|product_description|avg(price)|
+-------+-------------------+----------+
|    108|              phone|   20000.0|
|    101|             fridge|   35000.0|
|    106|                bed|     100.0|
|    101|              mouse|     700.0|
|    101|            speaker|     500.0|
|    107|               null|      null|
|    102|              chair|    1000.0|
|    105|             laptop|   66000.0|
|    105|               sofa|   55000.0|
|    103|                 tv|   34000.0|
|    109|               null|      null|
|    110|               null|      null|
|    102|           keyboard|     900.0|
|    104|               null|      null|
+-------+-------------------+----------+

In [102]:
final.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- transaction_id: double (nullable = true)
 |-- product_id: double (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- price: double (nullable = true)
 |-- product_description: string (nullable = true)
 |-- emailid: string (nullable = true)
 |-- nativelanguage: string (nullable = true)
 |-- location : string (nullable = true)

In [106]:
transac

   transaction_id  product_id  user_id  price product_description
0         3300101     1000001      101    700               mouse
1         3300102     1000002      102    900            keyboard
2         3300103     1000003      103  34000                  tv
3         3300104     1000004      101  35000              fridge
4         3300105     1000005      105  55000                sofa
5         3300106     1000006      106    100                 bed
6         3300107     1000007      105  66000              laptop
7         3300108     1000008      108  20000               phone
8         3300109     1000009      101    500             speaker
9         3300110     1000010      102   1000               chair

In [107]:
user

   user_id               emailid nativelanguage location
0      101     abc.123@gmail.com          hindi    mumbai
1      102        jhon@gmail.com        english       usa
2      103    madan.44@gmail.com        marathi    nagpur
3      104  local.88@outlook.com          tamil   chennai
4      105    sahil.55@gmail.com        english       usa
5      106         adi@gmail.com          hindi    nagpur
6      107       jason@gmail.com        marathi    mumbai
7      108       sohan@gmail.com         kannad       usa
8      109      case@outlook.com          tamil    mumbai
9      110        fury@gmail.com          hindi    nagpur

In [109]:
df = pd.merge(transac, user, on='user_id', how='inner')

In [113]:
df.to_csv('inner_join.csv')

In [115]:
inner = spark.read.option('inferSchema', 'True').option('header', 'True').csv('inner_join.csv')

In [116]:
inner.show()

+---+--------------+----------+-------+-----+-------------------+------------------+--------------+---------+
|_c0|transaction_id|product_id|user_id|price|product_description|           emailid|nativelanguage|location |
+---+--------------+----------+-------+-----+-------------------+------------------+--------------+---------+
|  0|       3300101|   1000001|    101|  700|              mouse| abc.123@gmail.com|         hindi|   mumbai|
|  1|       3300104|   1000004|    101|35000|             fridge| abc.123@gmail.com|         hindi|   mumbai|
|  2|       3300109|   1000009|    101|  500|            speaker| abc.123@gmail.com|         hindi|   mumbai|
|  3|       3300102|   1000002|    102|  900|           keyboard|    jhon@gmail.com|       english|      usa|
|  4|       3300110|   1000010|    102| 1000|              chair|    jhon@gmail.com|       english|      usa|
|  5|       3300103|   1000003|    103|34000|                 tv|madan.44@gmail.com|       marathi|   nagpur|
|  6|       3300105|   1000005|    105|55000|               sofa|sahil.55@gmail.com|       english|      usa|
|  7|       3300107|   1000007|    105|66000|             laptop|sahil.55@gmail.com|       english|      usa|
|  8|       3300106|   1000006|    106|  100|                bed|     adi@gmail.com|         hindi|   nagpur|
|  9|       3300108|   1000008|    108|20000|              phone|   sohan@gmail.com|        kannad|      usa|
+---+--------------+----------+-------+-----+-------------------+------------------+--------------+---------+

In [118]:
inner.columns

['_c0',
 'transaction_id',
 'product_id',
 'user_id',
 'price',
 'product_description',
 'emailid',
 'nativelanguage',
 'location ']

In [120]:
inner.groupby('location ').count().show()

+---------+-----+
|location |count|
+---------+-----+
|   nagpur|    2|
|   mumbai|    3|
|      usa|    5|
+---------+-----+

In [121]:
final.groupby('location ').count().show()

+---------+-----+
|location |count|
+---------+-----+
|  chennai|    1|
|   nagpur|    3|
|   mumbai|    5|
|      usa|    5|
+---------+-----+

In [122]:
inner.groupBy("user_id", "product_description").avg('price').show()

+-------+-------------------+----------+
|user_id|product_description|avg(price)|
+-------+-------------------+----------+
|    108|              phone|   20000.0|
|    101|             fridge|   35000.0|
|    106|                bed|     100.0|
|    101|              mouse|     700.0|
|    101|            speaker|     500.0|
|    102|              chair|    1000.0|
|    105|             laptop|   66000.0|
|    105|               sofa|   55000.0|
|    103|                 tv|   34000.0|
|    102|           keyboard|     900.0|
+-------+-------------------+----------+

In [128]:
inner.groupBy("user_id", "product_description").count().show()

+-------+-------------------+-----+
|user_id|product_description|count|
+-------+-------------------+-----+
|    108|              phone|    1|
|    101|             fridge|    1|
|    106|                bed|    1|
|    101|              mouse|    1|
|    101|            speaker|    1|
|    102|              chair|    1|
|    105|             laptop|    1|
|    105|               sofa|    1|
|    103|                 tv|    1|
|    102|           keyboard|    1|
+-------+-------------------+-----+